<!DOCTYPE html>
<html>
  <head>
    <title>SamlIdp</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag 'application' %>
  </head>

  <body class="wrapper">
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
